<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dreamsecure.dao.EmpDAO">

	<resultMap id="empResult" type="emp">
		<id property="id" column="EMP_ID" />
		<result property="empNm" column="EMP_NM" />
		<result property="empMob" column="EMP_MOB" />
	</resultMap>
	
	<resultMap id="addressResult" type="address">
		<id property="si" column="SI" />
		<result property="gungu" column="GUNGU" />
		<result property="dong" column="DONG" />
	</resultMap>
	
	<parameterMap id="pageParam" type="page">
		<parameter property="start" mode="IN"/>
		<parameter property="limit" mode="IN"/>
	</parameterMap>
	
	<select id="selectEmp" resultType="emp" parameterType="int">
        <![CDATA[
            select EMP_ID, 
            	EMP_NM, 
            	EMP_MOB, 
            	SI,
            	GUNGU,
            	DONG
            from EMP 
            where EMP_ID=#{value}
        ]]>
	</select>
<!-- 	<select id="selectEmp" resultType="emp" parameterType="emp">
        <![CDATA[
            select EMP_ID, EMP_NM, EMP_MOB
            from EMP 
            where EMP_ID=#{id}
        ]]>
	</select> -->

	<select id="selectEmpAll" resultMap="empResult">
        <![CDATA[
            select *
            from EMP
        ]]>
	</select>

	<select id="selectEmpList" resultMap="empResult"
		parameterType="java.util.HashMap">
		select emp_id,
		emp_nm,
		emp_mob,
		from EMP
		where
		<choose>
			<when test="code_list.size !=0">
				emp_id in
				<foreach collection="code_list" item="item" index="index"
					separator="," open="(" close=")">
					#{item}
				</foreach>
			</when>
		</choose>
	</select>

	<select id="selectAddressList" resultMap="addressResult">
		select SI,
			GUNGU,
			DONG
		from EMP
	</select>
	
	<update id="updateEmp" parameterType="emp">
		update emp
		<set>
			<if test="empNm !=null">emp_nm=#{empNm},</if>
			<if test="empMob !=null">emp_mob=#{empMob}</if>
		</set>
		where emp_id=#{id}
	</update>
	
	<select id="selectEmpPage" parameterMap="pageParam" resultMap="empResult">
		select EMP_ID,
			EMP_NM,
			EMP_MOB
		from EMP
		limit #{start}, #{limit}
	</select>
		
	<select id="getTotalCount" resultType="int">
		select count(emp_id) from emp
	</select>
	
<!-- 	
	<insert id="insertEmpId" parameterType="emp">
		insert into emp(emp_id, emp_nm, emp_mobile)
		values (#{id},#{empNm},#{empMob)
	</insert>
-->		
	<insert id="insertEmp" parameterType="emp">
		<selectKey keyProperty="id" resultType="int">
			select seq_emp.nextval as id from dual
		</selectKey>
		insert into emp(emp_id, emp_nm, emp_mob)
		values (#{id}, #{empNm}, #{emmpMob})
	</insert>
<!--	
	<delete id="deleteEmp" parameterType="emp">
		delete emp where emp_id=#{id}
	</delete>
	
	<delete id="deleteEmpId" parameterType="int">
		delete emp where emp_id=#{value}
	</delete> -->
</mapper>